<div class="body-wrapper-1">
  <section class="main-navbar common-nav">
      <nav>
        <div class="nav-wrapper nav-form">
          <div class="humberg">
                  <a href="javascript:void(0);" (click)="isVmenuOpen = !isVmenuOpen"><i class="material-icons">reorder</i></a>
          </div>  
          <a href="javascript:void(0);" class="brand-logo"><h4 class="heading-size-type-one">Mtrimony</h4></a>
          <!-- <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
                  <div class="right-align-item">
                      <form class="col col xl12 l12 m12 s12" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value, loginForm.valid)" novalidate>
                          <div class="row">
                            <mz-input-container class="col xl4 l4 m4 s4">
                              <input class="validate" mz-input mz-validation required
                              id="input-firstname"
                              formControlName="email"
                              type="text"
                              [errorMessageResource]="errorMessageResources.general"
                              [label]="'First Name'">
                              
                            </mz-input-container>
                            <mz-input-container class="col xl4 l4 m4 s4">
                              <input class="validate" mz-input mz-validation required
                              id="input-password"
                              formControlName="password"
                              type="password"
                              [errorMessageResource]="errorMessageResources.general"
                              [label]="'Password'">
                              <label for="last_name">Password</label>
                            </mz-input-container>
                            <div class="col xl4 l4 m4 s4">
                            <button class="btn waves-effect waves-light purple" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                              </button>
                            </div>
                    </div>
                    </form>
                          <!-- <button class="color-black" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="logout()">
                              <mat-icon>settings_power</mat-icon>
                              <span>Logout</span>
                            </button>
                          </mat-menu> -->
                        </div>
            <!-- <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li> -->
          <!-- </ul> -->
        </div>
      </nav>
      </section>
      <div class="wrapper-block">
      <section class="verticalmenu" *ngIf="isVmenuOpen">
              <ul class="v-menu collection">
                      <li class="collection-item avatar"><a class="waves-effect" routerLink="/record" routerLinkActive="active">
                          <i class="material-icons">record_voice_over</i>
                        <span class="title" >Record</span></a> </li>
                        <li class="collection-item avatar"><a class="waves-effect" routerLink="/comment" routerLinkActive="active">
                          <i class="material-icons">comment</i>
                        <span class="title" >Comment</span></a> </li>
                        <li class="collection-item avatar"><a class="waves-effect" routerLink="/report" routerLinkActive="active">
                          <i class="material-icons">library_books</i>
                          <span class="title">Report</span>
                        </a> </li>
                      <!-- <li class="collection-item avatar"><a class="waves-effect" routerLink="/tracking" routerLinkActive="active">
                        <i class="material-icons">track_changes</i>
                        <span class="title">Track Container</span>
                      </a> </li>
                      <li class="collection-item avatar" *ngIf="userRole == 'SuperUser'"><a class="waves-effect" routerLink="/add-filter-image" routerLinkActive="active">
                        <i class="material-icons">filter_list</i>
                        <span class="title">Add Filter Image</span>
                      </a> </li>
                      <li class="collection-item avatar" *ngIf="userRole == 'SuperUser'"><a class="waves-effect" routerLink="/system-status" routerLinkActive="active">
                        <i class="material-icons">ac_unit</i>
                        <span class="title">System Status</span>
                      </a> </li> -->
                
                
                
                    </ul>
      </section>    
      <section class="inner-body common-body" [ngClass]="isVmenuOpen ? '': 'vMenuOpen'">
        <header class="bg-primary text-white">
          <div class="text-center home-bg">
           <div class="container">
             <div class="home-form-container">
               <div class="home-register-box" *ngIf="masterDataList">
                 {{masterDataList.profilecreatedby | json}}
                <form  class="f_left_full_width" [formGroup]="registerForm" (ngSubmit)="Submit(registerForm.value, registerForm.valid)" novalidate > 
                  <div class="row home_register_row">    
                      <mz-select-container>
                          <select mz-select formControlName="createdby"
                            id="options-select"
                            [label]="'Label'"
                            [placeholder]="'Placeholder'"
                          >
                            <optgroup label="Group 1">
                              <option data-icon="assets/select-icon-1.jpg" class="left circle">Option 1</option>
                              <option data-icon="assets/select-icon-2.jpg" class="left circle">Option 2</option>
                            </optgroup>
                            <optgroup label="Group 2">
                              <option data-icon="assets/select-icon-3.jpg" class="left circle">Option 3</option>
                            </optgroup>
                          </select>
                        </mz-select-container>                  
                      <!-- <mz-select-container>
                          <select mz-select id="r-select-createdby" [label]="'Profile Created By'"  [placeholder]="'Created By'" formControlName="createdby">                            
                              <option *ngFor="let created of masterDataList.profilecreatedby" [ngValue]="created.value">{{created.viewValue}}</option>
                             
                           
                          </select>
                        </mz-select-container> -->
                  <!-- <mz-input-container class="col s12 m6 l6 xl6">
                    <input mz-input mz-validation required
                      id="r-input-fullname"
                      formControlName="fullname"
                      type="text"
                      [errorMessageResource]="errorMessageResources.general"
                      [label]="'Full Name'" />
                  </mz-input-container>
                  <mz-select-container class="col s12 m6 l4 xl4">
                      <select mz-select mz-validation required
                        id="r-select-maritial"
                        [label]="'Marital Status'"
                        [placeholder]="'Marital Status'" formControlName="maritialstatus"  [errorMessageResource]="errorMessageResources.general">
                        
                          <option *ngFor="let mstatus of masterDataList.maritialstatus" [ngValue]="mstatus">{{mstatus.viewValue}}</option>
        
                       
                      </select>
                    </mz-select-container>
                    <mz-select-container class="col s12 m6 l4 xl4">
                        <select mz-select mz-validation required
                          id="r-select-gender"
                          [label]="'Gender'"
                          [placeholder]="'Gender'" formControlName="gender" [errorMessageResource]="errorMessageResources.general">                 
                          <option *ngFor="let gender of masterDataList.gender" [ngValue]="gender">{{gender.viewValue}}</option>
                           
                         
                        </select>
                      </mz-select-container>              
                      <div class="col s12 m6 l4 xl4 home-register-datepicker">
                          <md2-datepicker [max]="maxDate" #birthday formControlName="dob"></md2-datepicker>                  
                      </div>  
                      <mz-select-container class="col s12 m6 l4 xl4 r-country-clear">
                          <select mz-select mz-validation required
                            id="r-select-country"
                            [label]="'Country'"
                            [placeholder]="'Country'" formControlName="country" [errorMessageResource]="errorMessageResources.general">
                           
                              <option>Option 1</option>
                              <option>Option 2</option>                 
                           
                              <option>Option 3</option>
                           
                          </select>
                        </mz-select-container>
        
                        <mz-select-container class="col s12 m6 l4 xl4">
                            <select mz-select mz-validation required
                              id="r-select-state"
                              [label]="'State'"
                              [placeholder]="'State'" formControlName="state"  [errorMessageResource]="errorMessageResources.general">
                             
                                <option>Option 1</option>
                                <option>Option 2</option>                 
                             
                                <option>Option 3</option>
                             
                            </select>
                          </mz-select-container>
        
                          <mz-select-container class="col s12 m6 l4 xl4">
                              <select mz-select mz-validation required
                                id="r-select-city"
                                [label]="'City'"
                                [placeholder]="'City'"  formControlName="city" [errorMessageResource]="errorMessageResources.general" >
                               
                                  <option>Option 1</option>
                                  <option>Option 2</option>                 
                               
                                  <option>Option 3</option>
                               
                              </select>
                            </mz-select-container>
                            
                              <mz-select-container class="col s12 m6 l4 xl4">
                                  <select mz-select mz-validation required
                                    id="r-select-religion"
                                    [label]="'Religion'"
                                    [placeholder]="'Religion'"   formControlName="religion"  [errorMessageResource]="errorMessageResources.general">
                                   
                                      <option>Option 1</option>
                                      <option>Option 2</option>                 
                                   
                                      <option>Option 3</option>
                                   
                                  </select>
                                </mz-select-container>
              
                                <mz-select-container class="col s12 m6 l4 xl4">
                                    <select mz-select mz-validation required
                                      id="r-select-tongue"
                                      [label]="'Mother Tongue'"
                                      [placeholder]="'Mother Tongue'"  formControlName="mothertongue"  [errorMessageResource]="errorMessageResources.general">
                                     
                                        <option>Option 1</option>
                                        <option>Option 2</option>                 
                                     
                                        <option>Option 3</option>
                                     
                                    </select>
                                  </mz-select-container>
                                  <mz-select-container class="col s12 m6 l4 xl4">
                                      <select mz-select mz-validation required
                                        id="r-select-caste"
                                        [label]="'Caste'"
                                        [placeholder]="'Caste'" formControlName="caste"  [errorMessageResource]="errorMessageResources.general">
                                       
                                          <option>Option 1</option>
                                          <option>Option 2</option>                 
                                       
                                          <option>Option 3</option>
                                       
                                      </select>
                                    </mz-select-container>
                    
                                    <mz-input-container class="col s12 m6 l6 xl6">
                                        <input mz-input mz-validation required
                                          id="r-input-email"                                 
                                          type="email"
                                          [errorMessageResource]="errorMessageResources.firstName"
                                          [label]="'Email Id'" formControlName='email'/>
                                      </mz-input-container>    
                                      <mz-input-container class="col s12 m6 l6 xl6">
                                          <input mz-input mz-validation required
                                            id="r-input-mobile"                                 
                                            type="text"
                                            [errorMessageResource]="errorMessageResources.firstName"
                                            [label]="'Mobile Number'" formControlName='mobile'/> 
                                        </mz-input-container>                  
                  <mz-input-container class="col s12 m6 l6 xl6">
                    <input mz-input mz-validation required
                      id="r-input-password"
                      formControlName="password"
                      type="password"
                      [errorMessageResource]="errorMessageResources.general"
                      [label]="'Password'" />
                  </mz-input-container> -->
        
        
                  <div class="home-register-submit-btn flex-center">
                        <button [disabled]="!registerForm.valid"  class="" md-raised-button color="warn">Submit</button>
                  </div>      
                      </div> 
                
                </form> 
            </div>
            </div>
           </div>
          </div>
        </header>
             
          
      </section>
  </div>
  </div>